/vendor/
/node_modules/
/public/build/
.env

# Storage - ignore contents but keep .gitkeep
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!storage/**/.gitkeep
