/.phpunit.cache
node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
build/
.env
.env.backup
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/bootstrap/ssr

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Intellij idea
*.iml
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

components.d.ts
auto-imports.d.ts

# Sandbox
sandbox/vendor/
sandbox/composer.lock
sandbox/bootstrap/cache/*
!sandbox/bootstrap/cache/.gitkeep
sandbox/storage/threads/*.json
sandbox/storage/outputs/*
sandbox/storage/logs/*
!sandbox/storage/threads/.gitkeep
!sandbox/storage/outputs/.gitkeep
!sandbox/storage/logs/.gitkeep
/sandbox/storage/app/generated/*
/sandbox/storage/app/generated
/sandbox/storage/app/nexus/*
/sandbox/storage/app/nexus/

# VitePress
docs/.vitepress/cache
docs/.vitepress/dist
