includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
    level: 6
    ignoreErrors:
        -
            identifier: trait.unused
            path: src/Persistence/Concerns/HasConversations.php
        -
            identifier: varTag.unresolvableType
            path: src/Persistence/Middleware/PersistConversation.php
